/* CSS resets */
* {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
  min-width: 300px;
  background: url(assets/images/Background.svg) no-repeat center center;
}

a {
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: medium;
  margin: 0;
}

/* Font sizing */

p {
  color: #344563;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #172B4D;
}

h3 {
  text-transform: uppercase;
  color: #7F8CFF;
}

/* Classes */

/* Displays */

.navigation {
  display: flex;
  justify-content: space-between;
}

/* Paddings and margins */

.mv12px {
  margin: 12px 0;
}

.pv2 {
  padding: 2vh 0;
}

.pv5 {
  padding: 5vh 0;
}

.pv20 {
  padding: 20vh 0;
}

.pr20px {
  padding-right: 20px;
}

/* Graphic sizing */

.fill-100 {
  width: 100%;
}

.logo {
  height: 40px;
  margin: 0 -12px;
}

.menu {
  width: 40px;
}

.icon {
  width: 20px;
}

/* List style */

.xul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
